**/__pycache__
**/*.py[cod]

.git/
.idea
.gitignore
Procfile

api/media/
api/protected_media/
api/db.sqlite3

client/config/
client/public/
client/scripts/
client/src/
client/node_modules/
client/package.json
client/npm-debug.log
